.dashQuestion{padding: 0px 124px;}
.ant-collapse-item{border: none !important;
    padding: 12px 0px!important;
    background: #F4F4F4 !important;
    border-radius: 40px !important;
 margin-bottom: 20px !important; }
 .ant-collapse{border: none !important; background-color: transparent !important; border-radius: 0px !important;}
 .ant-collapse-header span{font-weight: 600;
    font-size: 19px;
    line-height: 32px;
    margin-left: 12px;
    color: #0B2441;}
    .ant-collapse-header{display: flex !important; align-items: center !important;}
   
    @media (max-width: 1024px){
      .dashQuestion{padding: 0px 70px;}
    }
    @media (min-width: 1600px){
      .p_text_ques{font-size: 16px;}
      .dashQuestion{padding:0px 200px;}
    }
    @media (max-width: 770px){
    
    }

  